*{
  margin: 0;
  padding: 0;
  font-weight: 900
}


.oyo-cell {
    margin: 8px;
    width: 33.33333%;
    width: -webkit-calc(33.33333% - 16px);
    width: -moz-calc(33.33333% - 16px);
    width: calc(33.33333% - 16px);
    width: 470px;
    margin-top: 30px;
    /* margin-left: 1200px; */
}
.oyo-cell {
    box-sizing: border-box;
}

.linkStyle{
  color:white;
  text-decoration: none;
  margin-bottom: 10px;

.css-ahj2mt-MuiTypography-root {
  margin: 0;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  width: 140px;

}
